---
import i18next, { t, setDefaultNamespace } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

import Header from "../header/index.astro";
import Footer from "../footer/index.astro";

setDefaultNamespace("common");

const appName = import.meta.env.PUBLIC_APP_NAME;
const appTagLine = t("site.tagline");
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- End Meta tags -->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- End Google fonts -->

    <!-- Icon fonts -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <!-- End Icon fonts -->

    <link rel="stylesheet" href="/styles/custom.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />

    <HeadHrefLangs />

    <!-- TODO SEO and meta tags -->

    <title>{`${appName} - ${appTagLine}`}</title>
  </head>
  <body>
    <Header appName={appName} />

    <main class="absolute top-0 w-full">
      <slot />
      <Footer />
    </main>
  </body>
</html>
