---
import {t, setDefaultNamespace} from 'i18next';
import {Trans} from 'astro-i18next/components';

setDefaultNamespace('home');
---

<section class="px-1 lg:px-12 py-12 lg:py-24">
    <div class="container flex-none lg:flex">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2 p-5 lg:p-12">
            <h2 class="uppercase text-2xl lg:text-3xl text-center lg:text-left">
                <Trans i18nKey="what.subheader">
                    <span class="text-primary">What</span> we do
                </Trans>
            </h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 my-12 gap-5">

                <!-- WEB DESIGN -->
                <div class="card bg-slate-100 hover:bg-orange-300">
                    <a href="#">
                        <div class="card-body">
                            <h2 class="card-title uppercase px-3">{t('what.web-design.header')}</h2>
                            <p class="text-gray-500 px-3">{t('what.web-design.content')}</p>
                            <div class="card-actions mt-3">
                                <a href="#" class="btn btn-ghost">{t('what.what-link')}</a>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- END WEB DESIGN -->

                <!-- MOBILE APP -->
                <div class="card bg-slate-100 hover:bg-orange-300">
                    <a href="#">
                        <div class="card-body">
                            <h2 class="card-title uppercase px-3">{t('what.mobile-app.header')}</h2>
                            <p class="text-gray-500 px-3">{t('what.mobile-app.content')}</p>
                            <div class="card-actions mt-3">
                                <a href="#" class="btn btn-ghost">{t('what.what-link')}</a>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- END MOBILE APP -->

                <!-- SEO & DIGITAL MARKETING -->
                <div class="card bg-slate-100 hover:bg-orange-300">
                    <a href="#">
                        <div class="card-body">
                            <h2 class="card-title uppercase px-3">{t('what.seo-digital.header')}</h2>
                            <p class="text-gray-500 px-3">{t('what.seo-digital.content')}</p>
                            <div class="card-actions mt-3">
                                <a href="#" class="btn btn-ghost">{t('what.what-link')}</a>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- END SEO & DIGITAL MARKETING -->

                <!-- WEB HOSTING -->
                <div class="card bg-slate-100 hover:bg-orange-300">
                    <a href="#">
                        <div class="card-body">
                            <h2 class="card-title uppercase px-3">{t('what.web-hosting.header')}</h2>
                            <p class="text-gray-500 px-3">{t('what.web-hosting.content')}</p>
                            <div class="card-actions mt-3">
                                <a href="#" class="btn btn-ghost">{t('what.what-link')}</a>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- END WEB HOSTING -->
            </div>
        </div>  
    </div>
</section>