---
import { changeLanguage } from "i18next";
import Landing from "../../layouts/landing/index.astro";

import {
  PhoneIcon,
  MailOpenIcon,
  MapPin3Icon,
  AtIcon,
  WhatsappIcon,
  User4Icon,
  User6Icon,
  SendPlane2Icon,
  FacebookIcon,
  YoutubeIcon,
} from "@remixicons/react/line";
import Svg from "@jasikpark/astro-svg-loader";

changeLanguage("en");

/* Form validation */
import Contact from "../../components/forms/Contact";
---

<Landing>
  <main class="p-3 lg:px-12 py-24 lg:py-48w-full bg-stone-200">
    <header class="w-full lg:w-3/4 mx-auto p-4 lg:p-8">
      <h1
        class="text-2xl text-center md:text-left md:text-4xl font-bold uppercase text-stone-900"
      >
        Contact us
      </h1>
      <p class="text-lg text-center lg:text-left lg:text-xl text-stone-700">
        We're always happy to hear from you.<br />Get in touch 👋
      </p>
    </header>
    <div
      class="flex flex-col lg:flex-row my-12 bg-slate-50 rounded-3xl w-full lg:w-3/4 mx-auto border-0 shadow-2xl"
    >
      <!-- <section class="w-2/5 bg-[#1db1ff] p-12 rounded-3xl"> -->
      <section
        class="w-full lg:w-2/5 bg-cyan-900 p-8 lg:p-12 rounded-3xl relative overflow-hidden"
      >
        <div class="py-8 z-20 relative">
          <h class="text-slate-50 text-lg lg:text-xl">Contact Information</h>
          <p class="text-slate-100 pt-2">
            Everywhere you can find us ! Even for a call !
          </p>
        </div>
        <div class="grid grid-rows-1 py-8 gap-y-8 z-20 relative">
          <div class="flex flex-row items-start lg:items-center">
            <PhoneIcon className="w-8 h-8 fill-cyan-300" />
            <p class="text-slate-100 px-4 lg:px-8">
              +243 (0) 851 858 485<br />+243 (0) 974 817 871
            </p>
          </div>
          <div class="flex flex-row items-start lg:items-center">
            <WhatsappIcon className="w-8 h-8 fill-cyan-300" />
            <p class="text-slate-100 px-4 lg:px-8">+243 (0) 851 858 485</p>
          </div>
          <div class="flex flex-row items-start lg:items-center">
            <MailOpenIcon className="w-8 h-8 fill-cyan-300" />
            <p class="text-slate-100 px-4 lg:px-8">
              <a href="mailto:hello@erulabs.tech">hello@erulabs.tech</a>
            </p>
          </div>
          <div class="flex flex-row items-start lg:items-center">
            <MapPin3Icon className="w-8 h-8 fill-cyan-300" />
            <p class="text-slate-100 px-4 lg:px-8">
              112 Murhaluza, Kamisimbi<br />Walungu, South Kivu<br /> Democratic
              Republic of Congo
            </p>
          </div>
        </div>

        <!-- TODO show social links on mobile -->
        <div class="flex flex-row my-8 z-20">
          <button class="btn btn-outline btn-primary btn-square border-0">
            <FacebookIcon className="w-6 h-6 fill-slate-100" />
          </button>
          <button class="btn btn-square btn-outline btn-primary mx-4 border-0">
            <YoutubeIcon className="w-6 h-6 fill-slate-100" />
          </button>
        </div>
        <div class="absolute top-0 right-0 rotate-45 z-0">
          <Svg src={import("../../components/svgs/blob.svg?raw")} />
        </div>
      </section>

      <section class="w-full lg:w-3/5 p-8 lg:p-12">
        <div class="py-8">
          <h class="text-stone-900 text-xl">Write a message</h>
          <p class="text-stone-700 pt-2">
            Have something to say ? Tell us something to improve our services or
            just how happy you feel working with us !
          </p>
        </div>
        <div>
          <Contact />
        </div>
      </section>
    </div>
  </main>
</Landing>
