---

---

<aside class="fixed h-screen w-1/6 bg-slate-100 place-items-center flex z-10">
    <ul class="menu menu-vertical w-full px-12">
        <li>
            <a href="/blog/categorie">Categorie</a>
        </li>
        <li>
            <a href="/blog/categorie">Categorie</a>
        </li>
        <li>
            <a href="/blog/categorie">Categorie</a>
        </li>
        <li>
            <a href="/blog/categorie">Categorie</a>
        </li>
        <li>
            <a href="/blog/categorie">Categorie</a>
        </li>
    </ul>
</aside>