---

---

<footer class="p-12 bg-secondary">
    <div class="container px-24">
        <div class="flex">
            <div class="w-1/3">
                <h3>Usefult links</h3>
            </div>
        </div>
    </div>
</footer>